body {
    background-color: rgb(25, 107, 64);
    font: normal 15px arial;
    color: white;
    margin: 30px;
    text-shadow: black 1px 1px;
}

#nacionalidade {
    margin-left: 15px;
    width: 300px;
    height: 20px;
}

#digite {
    color: white;
}

#res {
    margin-top: 5px;
    font-style: bold;
}

#policia {
    width: 300px;
    margin: 0%;
    
    padding: 0px;
}